.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #1f2a2f, #1c252a, #192125, #161c20, #13181b);
}

.homeContent {
    height: 100%;
    width: 100%;
    max-width: 960px; /*  w-3/6 */
    margin: 0 auto;
}
