Header {
    height: 72px;
    width: 100%;
    background-color: #13181B;
}

.headerContent {
    height: 100%;
    width: 100%;
    max-width: 960px; /*  w-3/6 */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 20%;
    object-fit: cover;
}

.headerList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}
